@model  Curso

@{
    ViewData["Title"] = "Creacion de Curso";
    Layout = "_OtraPlantilla";
}

<h1>@ViewData["Title"]</h1>
<div asp-validation-summary="All"></div>
<form method="POST" >
    <div>
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" type="text" value="" />
    </div>
    <div>
        <label asp-for="Dirección"></label>
        <input asp-for="Dirección" type="text" value="" />
    </div>
    <div>
        <label asp-for="Jornada"></label>
        @Html.DropDownList(
            "Jornada",
            Html.GetEnumSelectList<TiposJornada>(),
            "-- Seleccione --",
            new {@class = "from-cotrol"}
        )
    </div>
    <input type="submit" name="name" value="Guardar" />
</form>

<p><i>@ViewBag.Fecha</i></p>
<p><i>@ViewData["Fecha"]</i></p>