@model  IEnumerable<Curso>
@{
    ViewData["Title"] = "Información Cursos";
    Layout = "_OtraPlantilla";
}

<h1>@ViewData["Title"]</h1>

<partial name="ListaObjetoEscuelaBase" />

<p><i>@ViewBag.Fecha</i></p>
<p><i>@ViewData["Fecha"]</i></p>